:root {
  --heading-font-family: "Roboto Slab", serif;
  --default-font-family: "Inter", sans-serif;
  --main-font-color: #233142;
  --background-color: #f9f7fe;
}

body {
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 400px;
  background-image: url("/src/bg.jpg");
  background-size: cover;
}

h1 {
  margin-top: 30px;
  font-size: 80px;
  font-family: var(--heading-font-family);
}

h2 {
  font-family: var(--default-font-family);
  font-size: 50px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .project-list {
    padding-top: 1px;
  }
}

.aboutMe {
  padding-top: 100px;
}

.introduction {
  margin-bottom: 100px;
  font-family: var(--default-font-family);
  font-size: 20px;
  opacity: 0.5;
}

.btn-dark {
  padding: 20px 30px;
  font-family: var(--default-font-family);
  margin-bottom: 100px;
}

.project {
  background-image: url("/src/bg.jpg");
  padding-top: 100px;
}

.project-img {
  width: 500px;
  display: block;
  margin: auto;
}

.project-content {
  font-size: 30px;
  margin-top: 100px;
  font-family: var(--default-font-family);
  opacity: 0.8;
}
.project-link {
  text-decoration: none;
  color: #f9f7fe;
  margin-top: 40px;
}

.project-link :hover {
  color: #f9f7fe;
}
.weather-project {
  padding-bottom: 200px;
}

.harry-project {
  padding-top: 100px;
}

.harry-img,
.weather-img {
  border-radius: 2%;
}
