:root {
  --heading-font-family: "Roboto Slab", serif;
  --default-font-family: "Inter", sans-serif;
  --main-font-color: #233142;
  --background-color: #f9f7fe;
}

img {
  border-radius: 50%;
  width: 10%;
}

.hero {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: var(--background-color);
}

h1 {
  margin-top: 30px;
  font-family: var(--heading-font-family);
}

h2 {
  font-family: var(--default-font-family);
}
